
/* colors: */
body{
    margin: 0;
    background-color: white;
}
html{
  font-size: 80%;
}

/* Heading */
header{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    background-color: #4B4848;
    margin: 0;
    
}
.nav-item{
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: #ddd;
}
.header-logo{
    height: 70px;
}

/*Title card*/
.title-card{
    width: 100%;
    height: 500px;
    background-color: #3D214F;
    text-align: center;
}
h1{
    margin: 0px;
    padding-top: 200px;
    font-size: 3rem;
    color: silver;
    z-index: 3;
    position: relative;
}
h4{
  margin: 0px;
    font-size: 2em;
    color: silver;
    position: relative;
    z-index: 3;
}
.bride{
  opacity: 0.3;
  position: absolute;
  height: 500px;
  width: 100%;
  left: 0;
}

/* Body */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card-intro{
  width: 80%;
  background-color: #AFC900;
  text-align: center;
  text-decoration: underline;
  font-size: 2.5rem;
  color: #4B4848;
}
.card-container{
    padding-top: 20px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    width: 80%;
    justify-content: space-evenly;
    background-color: #AFC900;
    padding-bottom: 60px;
}
.container {
    position: relative;
    margin: 20px;
    width: 90%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    overflow: hidden;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #3D214F;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .h3{
    font-size: 2rem;
    text-decoration: underline;
  }
  footer{
    height: 100px;
    width: 100%;
    background-color: #4B4848;
  }


/* Charity pages */

.intro-block{
  width: 100%;
  height: 300px;
  background-color: #3D214F;
  display: flex;
  flex-basis: 1fr, 1fr;
  justify-content: center;
}
.intro-block-logo{
  height: 200px;
  margin-top: 50px;
}
.charity-page-text{
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  align-content: center;
  justify-content: center;
  width: 80%;
  margin: 10%;
}
.charity-page-p{
  font-size: 2rem;
}
.left{
  text-align: right;
}
.charity-page-img{
  width: 90%;
  margin: 5%;
  border-radius: 10px;
}
.button{
  background-color: #3D214F;
  text-align: center;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 2rem;
  border-radius: 10px;  
}








/* Charity Dropdown */
.dropbtn {
    background-color: inherit;
    color: #ddd;
    
    font-size: 2rem;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 5;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #AFC900;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown a:hover {background-color: #ddd;}
  .show {display: block;}
  .charlogos{
    width: 150px;
  }